@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-ExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body{
    background-color: purple;
}

h1:first-child{
    font-size: 10vw;
    color: yellow;
    font-family: 'Open Sans';
    padding-left: calc(50% - 36vw);
}

.gamephoto{
    width: 20vw;
    border: 2px solid black;
    border-radius: 20%;
}